
molcompbio.xcodeproj/project.pbxproj
.DS_Store
molcompbio.xcodeproj/project.xcworkspace/contents.xcworkspacedata
molcompbio.xcodeproj/project.xcworkspace/xcuserdata/mar.xcuserdatad/UserInterfaceState.xcuserstate
molcompbio.xcodeproj/xcuserdata/mar.xcuserdatad/xcschemes/molcompbio.xcscheme
molcompbio.xcodeproj/xcuserdata/mar.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
